
/* основой цвет текста #757575

вторичный цвет текста #212121
акцент #2196F3

цвет фона #F5F5F5 */
:root{
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --nav-text-color:#212121;
    --accent-text-color:#2196F3;
    --white-color:#FFFFFF;
    
}
.container{
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


body{
    background-color: #F5F5F5;
    color:var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 2;
    
}
ul{
    list-style: none;
}
.list{
    padding: 0;
    margin: 0;
}

.section {
    padding: 94px 215px;
}
/* LOGO */
.logo {
    color:#2196F3;
 text-decoration: none;
 font-family:'Raleway', sans-serif;
 font-size: 26px;
 line-height: 1.2;
     }
.logo:hover{
    color:#F45656;
          }
 .logo-two {
    color:#FFFFFF}
 .logo-two:hover{
  color:#F45656;  
 }
 .logo-three {
    color:#000000;}
 .logo-three:hover{
    color:#F45656;
 }

    /* SITE-NAV */
.site-nav .link {
    color:var(--nav-text-color);
    text-decoration: none;
 font-weight: 500;
 font-size: 14px;
 line-height: 1.1;
 letter-spacing: 0.02em;
}
.site-nav :hover , .site-nav :focus {
    color: var(--accent-text-color);
}
.site-nav .link.current{
    color:var(--accent-text-color);
}
.site-nav .link:active{
    color:#F45656 ;
}
 /* SITE-CONTACTE */
 
 .site-contacte .link,.tell {
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
 }
 .site-contacte .link:hover ,.site-contacte .link:focus{
    color:var(--accent-text-color);
 }
 
 
 .site-contacte .tell:hover ,.site-contacte .tell:focus{
    color: var(--accent-text-color);
 }
 

  /* SERVICES */

  
  .services{
    background-color: #2F303A;
    text-align: center;
    padding:200px 452px ;
  }
  .services-title{
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    margin-top: 0;
    margin-bottom: 40px;


  }
  .button{
    background-color:#2196F3 ;
    color: var(--white-color);
    cursor: pointer;
    font-family: inherit;
   font-weight: 700;
   font-size: 16px;
   line-height: 2;
   align-items: center;
   text-align: center;
   letter-spacing: 0.06em;
   border-radius: 4px;
   padding: 10px 32px;
   border:none;
    }
    .button:hover,.button:focus{
        background-color:#188CE8;
    }

    
    /* SECTION */

.section-title{
    color:var(--title-text-color);
font-size: 36px;
line-height: 1.2;
text-align:center;
margin-top: 0;
margin-bottom: 50px;
}
.section-title.centered{
    text-align: center;
}
/* quality-list */
.quality-title{
    color: var(--title-text-color);
    font-size: 14px;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 10px;

}
.quality p{
    margin-top: 0;
    margin-bottom: 0;
}
/* .quality-list-text{
font-weight: 400;
font-size: 14px;
line-height: 2;
} */
/* Team */
.team-title {
 color: var(--title-text-color);
 font-weight: 500;
 font-size: 16px;
 line-height: 1.2;
 margin-top:30px ;
 margin-bottom: 10px;
 }
 .team-position{

font-size: 16px;
line-height: 1.2;
margin-top: 0;
margin-bottom: 0;
}

/*  ФУТЕР  */

.footer{
    background-color: #2F303A;
}
.footer .link {
    color: var(--primary-text-color);
    text-decoration: none;
}
 .footer .link:hover ,.footer .link:focus{
    color: var(--accent-text-color);
 } 
.footer .tell {
    color: var(--primary-text-color);
    text-decoration: none;
}
.footer .tell:hover , .footer .tell:focus{
    color: var(--accent-text-color);
}
 address {color:#FFFFFF;
font-style: normal;
}
 
                   /* "ПОРТФОЛИО"  */

 .filtr-button{
    background-color: #F5F4FA;
    color:var(--nav-text-color);
    cursor: pointer;
    font-family:inherit;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.6;
   border-radius: 4px;
   text-align: center;
   padding: 6px 22px;
   

   /* line-height я просто изначально округлил до 2 */
     } 
    .filtr-button:hover , .filtr-button:focus{
        background-color:var(--accent-text-color) ;
        color: var(--white-color);
    }    
    
    .portfolio-title{
        color: var(--title-text-color);
       font-size: 18px;
        letter-spacing: 0.06em;
        margin-top: 20px;
        margin-bottom: 4px;
    }
    .portfolio{
        
        font-size: 16px;
         
              }
    .portfolio p{
        margin-top: 0;
        margin-bottom: 0;
    }
    .filtr-space{
        padding: 94px 215px ;
    }
              